# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo
.expo-shared
web-build

# Android / iOS local builds
android
ios

# Tests & docs
__tests__
coverage
docs

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Environment files (optional)
.env
.env.*
